/* ===================== Общие стили ===================== */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 20px;
}

/* ===================== Секция меню (галерея) ===================== */
#menyykiht {
    float: left;
    width: 250px;
    margin-right: 30px;
}

#menyykiht h2 {
    text-align: center;
}

#menyykiht ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* чтобы картинки переносились на новую строку */
    gap: 10px; /* расстояние между картинками */
}

#menyykiht ul li {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ccc;
}

#menyykiht ul li img.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


#sisukiht {
    float: left;
    max-width: 700px;
}

#sisukiht h2 {
    margin-top: 0;
}


#sisukiht img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border: 1px solid #ccc;
}


.comments-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
}

.btn, .delete-btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;

}

.btn {
    background-color: #28a745;
    color: white;
}



.delete-btn {
    background-color: #d9534f;
    color: white;
}



